<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.redisdemo.mapper.BorrowBookMapper">
    <resultMap id="BorrowBookResultMap" type="BorrowBook">
        <id  property="bbId" column="bb_id"></id>
        <result property="cardId" column="card_id"/>
        <result property="bookId" column="book_id"/>
        <result property="borrowDate" column="borrow_date"/>
        <result property="endDate" column="end_date"/>
        <result property="returnDate" column="return_date"/>
        <result property="illegal" column="illegal"/>
        <result property="managerId" column="manager_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <sql id="selectBorrowBookVo">
        select bb_id,card_id,book_id,borrow_date,end_date,return_date,illegal,manager_id,create_time,update_time from borrow_book
    </sql>
    <select id="selectBorrowBookById" resultMap="BorrowBookResultMap" parameterType="Long">
        <include refid="selectBorrowBookVo"></include>
        where bb_id=#{bbId}
    </select>
    <select id="selectBorrowBookByUser" parameterType="Long" resultMap="BorrowBookResultMap">
     select bb_id,card_id,book_id,borrow_date,end_date,return_date,illegal,manager_id,create_time,update_time
     from borrow_book
     where   card_id=#{bcId} and not ISNULL(return_date)
    </select>
    <select id="selectBorrowBookByUserV2" parameterType="Long" resultMap="BorrowBookResultMap">
     select bb_id,card_id,book_id,borrow_date,end_date,return_date,illegal,manager_id,create_time,update_time
     from borrow_book
    where  card_id=#{bcId} and return_date is null
    </select>

    <select id="selectBorrowBookReturned" resultMap="BorrowBookResultMap">
    <include refid="selectBorrowBookVo"></include>
    where  not ISNULL(return_date)
    </select>
    <select id="selectBorrowBookNotReturned" resultMap="BorrowBookResultMap">
        <include refid="selectBorrowBookVo"></include>
        where return_date is null
    </select>
    <insert id="insertBorrowBook" parameterType="BorrowBook" useGeneratedKeys="true" keyProperty="bbId">
        insert into borrow_book(
        <if test="cardId!=null and cardId!=0">card_id,</if>
        <if test="bookId!=null and bookId!=0">book_id,</if>
        <if test="borrowDate!=null ">borrow_date,</if>
        <if test="endDate!=null ">end_date,</if>
        <if test="returnDate!=null">return_date,</if>
        <if test="managerId!=null and managerId!=0">manager_id,</if>
        create_time
        )values(
        <if test="cardId!=null and cardId!=0">#{cardId},</if>
        <if test="bookId!=null and bookId!=0">#{bookId},</if>
        <if test="borrowDate!=null">#{borrowDate},</if>
        <if test="endDate!=null">#{endDate},</if>
        <if test="returnDate!=null ">#{returnDate},</if>
        <if test="managerId!=null and managerId!=0">#{managerId},</if>
        sysdate()
        )
    </insert>
    <update id="updateBorrowBook" parameterType="BorrowBook">
        update borrow_book
        <set>
            <if test="cardId!=null and cardId!=0">card_id=#{cardId},</if>
            <if test="bookId!=null and bookId!=0">book_id=#{bookId},</if>
            <if test="borrowDate!=null ">borrow_date=#{borrowDate},</if>
            <if test="endDate!=null ">end_date=#{endDate},</if>
            <if test="returnDate!=null ">return_date=#{returnDate},</if>
            <if test="illegal!=null and illegal!=''">illegal=#{illegal},</if>
            <if test="managerId!=null and managerId!=0">manager_id=#{managerId},</if>
            update_time=sysdate()
        </set>
        where bb_id=#{bbId}
    </update>
    <delete id="deleteBorrowBook" parameterType="Long">
        delete from borrow_book where bb_id=#{bbId}
    </delete>
</mapper>